body{
            background-color: rgba(225, 235, 222, 0.911);
            color:rgb(32, 97, 2);
        }
        h1{
            color:black;
        }
        #htm{
            color:darkgreen;
        }
        #html{

            color: rgb(253, 253, 253);
        }
        #curtir{

            background-color: #f4dbfa;
            color:rgb(141, 78, 141);
            padding: 5px 10px 5px 10px;
            border-color: rgb(223, 145, 223);
            border-radius: 12px;
        }
